.MatchCard {
  &.card {
    padding: 0;
    text-align: center;
    width: 150px;
    height: 150px;
    margin: 10px
  }

  a {
    text-decoration: none;
    img {
      width: 100%;
      aspect-ratio: 1/1;
      object-fit: cover;
      border-radius: var(--rounded);
    }
    h4 {
      color: var(--font-light);
      &:hover {
        color: var(--primary)
      }
    }
  }

}