.MatchAlert{
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  background-color: rgb(26 24 35 / 60%);
  position: absolute;
  top: 0;
  z-index: 100;
  backdrop-filter: blur(5px);

  .btn-exit {
    place-self: end
  }
}