.UserCard {
  &.card {
    position: relative;
    margin-top: 6rem !important;
    width: 350px;
    margin: auto;
    padding: 0;
    border-radius: 15px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);

    .btn.btn-show-bio {
      z-index: 50;
      border-radius: 0 !important;
      background-color: var(--background);
      border-color: var(--background);
    }
  }

  &-image {
    object-fit: cover;
    width: 100%;
    height: 400px;
    border-radius: var(--rounded);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  &-info {
    padding: 1rem;
    text-align: center;
    position: relative;

    p {
      font-style: italic;
      opacity: 0.5;
    }
  }

  .btn.btn-unmatch {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .UserCard-bio {
    position: absolute;
    width: 100%;
    height: 400px;
    top: 0;
    left: 0;
    text-align: center;
    padding: 1em;

    div {
      height: 100%;
      width: 100%;
      padding: 0.5em;
      background-color: rgba(40, 36, 49, 0.8);
      backdrop-filter: blur(5px);
      display: grid;
      place-items: center;
      border-radius: var(--rounded);
    }
  }

}